.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user img {
  border-radius: 50%;
  margin: 10px;
  width: 90px;
  height: 90px;
  /* border: 1px solid red; */
}